<section class="reward">
  <dl>
    <dt>Name</dt>
    <dd><%= reward.name %></dd>

    <dt>Description</dt>
    <dd><%= reward.description %></dd>

    <dt>Amount</dt>
    <dd><%= reward.amount %></dd>

    <dt>Limit</dt>
    <dd><%= reward.limit %></dd>
  </dl>
</section>