// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  width: 960px;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 14px;
}

div.field {
  margin: .85em 0;
  label {
    display: block;
  }
}

section.project,
aside.pledges {
  box-sizing: border-box;
  padding: 20px 0;
}

section.project {
  width: 60%;
  float: left;
  dl {
    margin: 0;
    dt {
      font-weight: bold;
      margin-top: 20px;
      &:first-child { margin-top: 0; }
    }
  }
}

aside.pledges {
  float: right;
  overflow: auto;
  width: 40%;
  form {
    text-align: center;
    fieldset {
      border: 2px solid rgba(41, 128, 185, 1);
    }
    legend {
      text-align: left;
      padding: 0 10px;
    }
    div.field {
      display: inline;
      line-height: 5;
      label {
        display: inline;
      }
      input {
        display: inline-block;
        margin: 0 2px 0 5px;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid rgba(52, 152, 219, 1);
        outline: none;
      }
    }
  }
  h3 {
    margin-top: 30px;
    text-align: center;
  }
  ul.user.pledges {
    margin: 0;
    padding: 0;
    li {
      background: rgba(41, 128, 185, 1);
      box-sizing: border-box;
      padding: 20px;
      border-radius: 4px;
      margin: 10px 0;
      overflow: auto;
      &:first-child {
        margin-top: 0;
      }
      div.pledge {
        box-sizing: border-box;
        color: white;
        &.date {
          display: inline;
          width: 60%;
          text-align: left;
        }
        &.amount {
          float: right;
          font-weight: bold;
          padding: 40px 0 0;
          font-size: 1.8rem;
        }
      }
    }
  }
}
